{% extends "food/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Register
                    </div>
                </div>
                <div class="card-body">
                    <form action="/register/" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            <br>
                            {{ field }}
                            {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button class="btn btn-info " type="submit">SignUp</button>

                    </form>
                    <h5>Already A User : <a href="{% url 'login' %}">Login </a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}